
<ul class="taxon_interiors">
  <% @taxon.interiors.each do |interior| %>
    <li>
	  <%= image_tag main_app.url_for(interior.try(:attachment)), style: 'height:170px;width:auto;' if interior.try(:attachment) %>
    </li>
  <% end %>
</ul>
