<div class="row">
	<ul class="nav nav-tabs">
	  <li class="active"><a data-toggle="tab" href="#panel1">Дизайн</a></li>
	  <li><a data-toggle="tab" href="#panel2">Технические характеристики</a></li>
	  <li><a data-toggle="tab" href="#panel3">Сертификаты</a></li>	  
	  <li><a data-toggle="tab" href="#panel4">В интерьере</a></li>	  	  
	</ul>
</div>
