
<div class="row"> 
	<div class="taxon col-sm-4">
	  <%= taxon_property["name"] %>
	</div>
	<div class="taxon col-sm-4">
	  <%= taxon_property["value"] %>
	</div>
	<div class="taxon col-sm-4">
	  <%= taxon_property["standard"] %>
	</div>
</div>