
<div class="taxon col-xs-12 col-sm-4 col-lg-3" style="z-index: 2" data-hook="taxon">
  <h4 class="subtaxon-title"><%= link_to taxon.name, seo_url(taxon), class: 'breadcrumbs' %></h4>
    <%#= taxon.description_ %>
  <% if taxon.products.active.any? %>
 	<% if !taxon.products.active.first.property(Spree::Config.alice_action_prop).nil? %>
 		<div class="ribbon"><span>Акция</span></div>	
  	<% end %>
  <% end %>
  <% if taxon.icon %>
  	<%= link_to (image_tag main_app.url_for(taxon.icon.try(:attachment)), style: 'height:170px;width:auto;'), seo_url(taxon) %>
  		<% if min_price_amount(taxon) != '' %>
	  		<div class="box">
	  			<div class="ovtext">
	  				<h4><%= min_price_amount(taxon) %></h4>
	  			</div>
	  		</div>
	  	<% end %>
  	<% end %>
</div>