
<ul class="taxon_certificates">
  <% @taxon.certificates.each do |certificate| %>
    <li>
	  <%= image_tag main_app.url_for(certificate.try(:attachment)), style: 'height:170px;width:auto;' if certificate.try(:attachment) %>
    </li>
  <% end %>
</ul>

