
<div class="taxon col-sm-4">
  <%= taxon_interior["id"] %>  
  <%= link_to (image_tag taxon_interior["attachment_file_name"], alt: taxon_interior["alt"]), taxon_interior["attachment_file_name"], :data => { :fancybox => 'gallery'} if taxon_interior["attachment_file_name"] %>      
</div>
