 <p class="textmain">
        <b>&nbsp;&nbsp;&nbsp; Компания &quot;Элис&quot; </b>была образована в 1991 году. Начав свою деятельность 
        с оптовых поставок ковролина, сейчас компания является одним из ведущих оптовых 
        поставщиков отделочных материалов в России.</p>
    <p class="textmain">
        &nbsp&nbsp&nbsp Центральный офис фирмы находится в <strong>Санкт-Петербурге</strong>, работают оптовые
        представительства в <strong>Москве, Самаре, Новосибирске, Лермонтове, Воронеже.</strong></p>
        
    <p class="textmain">
        &nbsp&nbsp&nbsp Наша компания уже много лет успешно применяет <strong>систему торговли "Комфорт-магазин"</strong>.
        Она позволяет нашим партерам продавать товары "по образцам", под конкретный заказ
        клиента. Партнёры, разместив оборудование с образцами, могут максимально расширить
        ассортимент предлагаемых товаров. Конструкция оборудования позволяет в зависимости
        от желания и возможностей каждой торговой площадки разместить от 60 до 240 артикулов
        ковролина и линолеума. Оборудование предоставляется в аренду.</p>
        
    <p class="textmain">
        &nbsp&nbsp&nbsp В составе компании "Элис" существует <strong>отдел контрактных продаж,</strong> который
        занимается поставкой материалов со специальными свойствами для гостиниц, промышленных
        обьектов, бизнес-центров и т.п. Опытные специалисты по запросу покупателя помогут
        подобрать материалы от ведущих производителей данного вида продукции.</p>
        
    <p class="textmain">
        &nbsp&nbsp&nbsp <strong>Компания "Элис" предлагает своим клиентам выгодные условия
        сотрудничества, конкурентные цены, качественный сервис</strong>. 
        Проводится обучение персонала
        наших партнеров, осуществляется информационная поддержка, предоставляется оборудование
        для торговли.</p>
    <p class="textmain">
        &nbsp&nbsp&nbsp Залог многолетней успешной работы нашей фирмы - высокая квалификация
        сотрудников, гибкость и профессионализм в работе с клиентами.</p>