 <p class="textmain">
        <b>&nbsp;&nbsp;&nbsp; Компания &quot;Элис&quot; </b>была образована в 1991 году. Начав свою деятельность 
        с оптовых поставок ковролина, сейчас компания является одним из ведущих оптовых 
        поставщиков отделочных материалов в России.</p>
    <p class="textmain">
        &nbsp&nbsp&nbsp Центральный офис фирмы находится в <strong>Санкт-Петербурге</strong>, работают оптовые
        представительства в <strong>Москве, Самаре, Новосибирске, Лермонтове (Пятигорск), Воронеже.</strong></p>
        
       
    <p class="textmain">
        &nbsp&nbsp&nbsp В составе компании "Элис" существует <strong>отдел контрактных продаж,</strong> который
        занимается поставкой материалов со специальными свойствами для гостиниц, промышленных
        обьектов, бизнес-центров и т.п. Опытные специалисты по запросу покупателя помогут
        подобрать материалы от ведущих производителей данного вида продукции.</p>
        
    <p class="textmain">
        &nbsp&nbsp&nbsp <strong>Компания "Элис" предлагает своим клиентам выгодные условия
        сотрудничества, конкурентные цены, качественный сервис</strong>. </p>

    <p class="textmain">
        &nbsp&nbsp&nbsp Залог многолетней успешной работы нашей фирмы - высокая квалификация
        сотрудников, гибкость и профессионализм в работе с клиентами.</p>

    <p class="textmain">
        &nbsp&nbsp&nbsp Купить оптом можно уже от 1 рулона!</p>