<footer id="footer" data-hook>
	<div class="container">
	  <div class="row">
		<div class='col-md-4 col-xs-6'>
			<h4><nobr><%= link_to company_phone, "tel:#{company_phone}" %></nobr></h4>
			<h4><nobr><%= link_to company_phone1, "tel:#{company_phone1}" %></nobr></h4>
		</div>
		<div class='col-md-4 col-xs-6'>
			<h4>
	        <% if Spree::Page.by_store(current_store).visible.footer_links.any? %>
	          <%= render partial: 'spree/static_content/static_content_list', collection: Spree::Page.visible.footer_links, as: :page %>
	        <% end %>        
	    	</h4>
		</div>
		<div class='col-md-4 col-xs-6'>
			<%= render partial: 'spree/shared/link_to_cart' %>
		</div>
	  </div>
	</div>
</footer>
