<footer id="footer" data-hook>
	<div class="container">
	  <div class="row">
		<div class='col-md-2 col-xs-6'>
			<h4><%= Spree::Config.alice_phone %></h4>
			<h4><%= Spree::Config.alice_phone1 %></h4>			
		</div>
		<div class='col-md-8 hidden-xs'>
		</div>
		<div class='col-md-2 col-xs-6'>
		<%= render partial: 'spree/shared/link_to_cart' %>
		</div>
	  </div>
	</div>
</footer>
