<% @body_id = 'home-page' %>
<div data-hook="homepage_sidebar_navigation">
  <%= render partial: 'spree/shared/taxonomies' %>
</div>
<div class="col-sm-12">
  <%= render partial: 'spree/shared/about' %>
</div>
